@import "util";

@media all and (max-width: em(380)) {
 
  .content {
    img {
      width: 100%;
      margin: em(16) auto;
    }
    
    ul {
      font-size: em(18);
    }
  }

  p {
    font-size: em(18);
  }

  h1 {
    font-size: em(32);
  }
  h3 { 
    font-size: em(24);
  }
  .bp1-p-1 {
    width: 100%;
  }

  .intro {
    font-size: em(24);
    margin-bottom: em(20, 24px);
  }
  .hero {
    .introduction {
      top: 20%;
    }
    .jos {
      margin-top: em(-60);
    }
  }
  .hero.commission {
    .title {
      font-size: em(30);
      margin: em(-40) 0;
    }
  }
  footer {
    .legal {
      font-size: 13px;
    }
  }
}