@import "util";

@media all and (max-width: em(380)) {
 
  .bp1-p-1 {
    width: 100%;
  }

  .hero {

    &.home {
      background-size: 170% auto;
    }

    &.commission, &.classes, &.about {
      background-size: 250% auto;
    }

    .introduction {
      top: 36%;

      .title {
        margin-bottom: 18%;
      }
    }
  }

  .more-wrap, .classes .more-wrap {
    width: em(300);
    margin-left: em(-150);
  }

  footer {
    .legal {
      font-size: 13px;
    }
  }
}