@import "util";

@media all and (max-width: em(380)) {
 
  .bp1-p-1 {
    width: 100%;
  }

  .hero {
    .introduction {
      top: 20%;

      .title {
        margin-bottom: 23%;
      }
    }
    .jos {
      margin-top: em(-60);
    }
  }

  footer {
    .legal {
      font-size: 13px;
    }
  }
}