@import "util";

@media all and (max-width: em(481)) {
  .hero {
    .introduction {
      top: 30%;
      .title {
        font-size: em(28);
      }
    }
    .jos {
      display: block;
      padding: em(12) em(20);
      margin-top: em(-30);
    }
  }

  .content {
    padding-top: em(40);
    padding-bottom: em(40);
  }

  .content .indented, 
  .hero .indented {
    padding: 0 em(10);
  }

  .p-grid-row {
    padding: 0;
  }
}