
@import "util";

@media all and (max-width: em(569)) {

  .p-grid-row {
    padding: 0;

    .p-indent {
      padding: 0 em(10);
    }
  }

  .hero {
    height: em(300);
    
    &.home {
      background-size: 140% auto;
      height: em(300);

       .hero-text {
        margin-top: em(80);
        width: 90%;
      }
    }

    &.commission, &.hero-classes, &.about {
      background-size: 200% auto;
    }

    &.hero-classes {
      .button {
        top: auto;
        left: 0%;
        margin-right: 0;
        right: auto;
        left: auto;
        margin-left: 0;
        width: em(300);
      }
    }

    .hero-text {
      margin-top: em(80);
      width: 100%;
      .title {
        font-size: em(34);
      }
    }
  }

  .calendar {
    ul {
      li {
        span:last-child {
          display: block;
          margin-left: 18%;
        }
      }
    }
    span {
      min-width: 18%;
    }
  }
}