@import "util";

@media all and (max-width: em(728)) {
  
  .bp3-p-1 {
    width: 100%;
  }

  .content {
    img {
      width: 100%;
      margin: em(16) auto;
    }
    
    ul {
      font-size: em(18);
    }
  }

  .gallery {
    img {
      margin: 0;
    }
  }

  p {
    font-size: em(18);
    &.intro {
      font-size: em(24);
      margin-bottom: em(35, 24px);
    }
  }
  h1 {
    font-size: em(32);
    margin-top: em(50, 32px);
  }
  h1.title {
    font-size: em(40);
  }
  h3 { 
    font-size: em(24);
  }

  .hero { 
    h1 {
      font-size: em(36);
    }
    .jos {
      padding-top: em(12);
      padding-bottom: em(12);
    }
  }

  .content {
    padding: em(40) 0;
  }

  .address {
    div:first-child {
      margin-bottom: em(60);
    }
    p {
      margin-bottom: em(10);
    }
  }
  .map-link {
    display: block;
  }
  

  .hero {
    &.commission {
      .title {
        font-size: em(30);
        margin-top: 0;
        top: 70%;
      }
    }

    &.about {
      .title {
        margin-top: em(-20, 30px);
        font-size: em(30);
      }
    }

    &.classes {
      text-align: center;
      .title {
        top: 40%;
      }
      .jos {
        display: block;
        float: left;
        margin-top: -18%;
        padding-top: em(12);
        padding-bottom: em(12);
        width: 100%;

      }
    }
  }

  .feature {
    img {
      margin: em(10) 0;
    }
  }

  .calendar {
    ul {
      li {
        span + span {
          min-width: 40%;
        }
      }
    }
    span {
      min-width: 14%;
    }
  }

  .contact img {
    display: none;
  }
}