@import "util";

@media all and (max-width: em(728)) {
  
  .bp3-p-1 {
    width: 100%;
  }

  .content {
    img {
      width: 100%;
      margin: em(16) auto;
    }
  }

  .gallery {
    img {
      margin: 0;
    }
  }

  .title {
    font-size: em(40);
  }

  h1 {
    font-size: em(32);
    margin-top: em(50, 32px);
  }

  h3 { 
    font-size: em(24);
  }

  .content {
    padding: em(40) 0;
  }


  .address {
    div:first-child {
      margin-bottom: em(60);
    }
    p {
      margin-bottom: em(20);
    }
  }

  .map-link {
    display: inline-block;
  }
  
  #map-canvas {
    display: none;
  }

  .hero {
    height: em(400);
    
    .title {
      font-size: em(42);
    }

    &.home {
      height: em(400);
      background-size: 128% auto;
    }

    &.about {
      .title {
        margin-top: em(-20, 30px);
        font-size: em(30);
      }
    }

    &.hero-classes {
      .button {
        left: auto;
        top: 64%;
      }
    }

    h1 {
      font-size: em(36);
    }
  }

  .feature {
    img {
      margin: em(10) 0;
    }
  }

  .calendar {
    ul {
      li {
        span + span {
          min-width: 40%;
        }
      }
    }
    span {
      min-width: 14%;
    }
  }

  .gallery-detail {
    .button {
      width: 100%;
      position: relative;
      left: auto;
      top: auto;
    }
  }

  .button {
    bottom: em(10);
    position: absolute;
    width: em(320);
    margin-left: em(-160);
    left: 50%;
  }
}