@import "util";

@media all and (max-width: em(850)) {
  
  .hero { 
    h1 {
      font-size: em(50);
    }

    .jos {
      margin-top: em(-30);
    }
  }

  .content .indented, 
  .hero .indented {
    padding: 0 6%;
  }

  .hero.commission {
    .title {
      margin-top: em(-10);
    }
  }
}