@import "util";

@media all and (max-width: em(850)) {
  
  .hero { 
    height: em(550);
    
    &.home {
      height: em(550);
      background-size: 135% auto;
    }

    &.about, &.classes {
      background-size: 180% auto;
    }

    h1 {
      font-size: em(50);
    }

    .introduction {
      margin-top: em(160);
    }
  }

  .content .indented, 
  .hero .indented {
    padding: 0 6%;
  }

  .hero.commission {
    .title {
      margin-top: em(-10);
    }
  }

  .calendar {
    ul {
      li {
        span + span {
          min-width: 34%;
        }
      }
    }
    span {
      min-width: 12%;
    }
  }
}