@import "util";

@media all and (max-width: em(850)) {
  
  .p-grid-row .p-indent { 
    padding: 0 6%;
  }

  .hero { 
    height: em(550);
    
    &.home {
      height: em(550);
      background-size: 136% auto;
      .hero-text {
        margin-top: em(120);
        width: 70%;
      }
    }

    &.about, &.classes {
      background-size: 180% auto;
    }

    .title {
      font-size: em(50);
      line-height: 1.3;
    }

    .introduction {
      margin-top: em(160);
    }
  }

  

  .hero.commission {
    .title {
      margin-top: em(-10);
    }
  }

  .calendar {
    ul {
      li {
        span + span {
          min-width: 34%;
        }
      }
    }
    span {
      min-width: 12%;
    }
  }
}