@import "util";

@media all and (max-width: em(1000)) {

  .hamburger {
    background: url('./images/hamburger.png') no-repeat scroll center center $highlight;
    background-size: 50%;
    border: 1px solid $highlight;
    border-radius: 3px;
    display: block;
    float: right;
    height: em(38);
    width: em(56);
    margin-top: em(21);
  }

  .active {
    header nav {
      display: block;
    }
    .hamburger {
      background-image: url('./images/hamburger_red@2x.png');
      background-color: #fff;
    }
  }

  header {
    span {
      display: none;
    }

    nav {
      display: none;
      background-color: #fff;
      position: absolute;
      top: em(80);
      left: 0;
      margin-top: 0;
      padding-top: em(20);
      padding-bottom: em(20);
      width: 100%;
      z-index: 2;
      opacity: 0.95;
      
      li {
        float: none;
        padding: 0;
      }

      a {
        margin-bottom: em(20);
        &:hover {
          border-bottom: none;
          text-decoration: underline;
        }
      }
     
    }
  }
  
  nav {
    float: none;
    text-align: center;

    .current-menu-item a {
      border-bottom: none;
    }
  }

  footer {
    padding: em(40) 0;
    .legal {
      float: none;
      padding-top: em(40);
      text-align: center;
    }
    .up {
      top: em(-58, 18px);
    } 
    nav { 
      float: none;
      text-align: center;
      margin-top: em(31);
      li {
        float: none;
        padding: 0;
      }

      a {
        margin-bottom: em(20);
        &:hover {
          border-bottom: none;
        }
      }
    }
  }

  .hero { 
    .introduction {
      margin-top: em(200);
    }

    &.about, &.classes {
      background-size: 170% auto;
    }
  }
}

@media all and (min-width: em(1140)) {
  .hero {
    &.home, &.about, &.commission, &.classes {
      background-size: 100% auto;
    }
  }
}