@import 'util';

body {
  background-color: #f0f0f0;
  color: #000;
}

.hamburger {
  display: none;
}

header {
  height: em(150);
  font-family: "Univers LT W01 45 Light";
  @extend %bg-white;

  .logo {
    height: em(150);
    width: em(136);
    background: url('./images/logo-desktop.png') no-repeat left center transparent;
    background-size: 100% auto;
    @extend %pull-left;
    @extend %relative;
  }
  span {
    color: #aaaaaa;
    font-size: em(11);
    top: em(100, 11px);
    left: em(3, 11px);
    @extend %block;
    @extend %absolute;
  }
}

footer {
  background-color: #f4f4f4;
  border-top: 1px solid #d6d6d6;
  padding: em(135) 0;
  @extend %relative;
  
  .legal {
    color: #aaaaaa;
    font-size: em(12);
    font-family: "Univers LT W01 45 Light";
    @extend %pull-left;
  } 
  
  nav {
    margin-top: 0;
  }

  .up {
    font-size: em(10);
    font-family: "Univers LT W01 45 Light";
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: #d6d6d6;
    border-radius: 3px;
    margin-left: em(-80, 10px);
    padding: em(10, 10px) em(20, 10px);
    position: absolute;
    top: em(-18, 10px);
    left: 50%;
    @extend %white;
    &:hover {
      @extend %white;
    }
  }
}

.hero {
  @extend %relative;
  .title {
    @extend %white;
  }
}

nav { 
  float: right;
  margin-top: em(65);
  
  li {
    @extend %pull-left;
    padding: 0 em(16);
  }
  li:last-child {
    padding-right: 0;
  }

  a {
    @extend %block;
    font-size: em(12);
    letter-spacing: 1px;
    font-family: "Univers LT W01 45 Light";
    &:hover {
      border-bottom: 1px solid $highlight;
    }
  }
  .current-menu-item a {
    border-bottom: 1px solid $highlight;
    color: $highlight;
  }
}

.content {
  padding: em(80) 0;

  img {
    width: 80%;
    margin: em(50) auto em(40);
  }

  a {
    color: $highlight;
    &:hover {
      border-bottom: 1px solid $highlight;
      text-decoration: none;
    }
  }
  ul {
    margin-left: em(40);
  }
  li {
    list-style: disc;
    text-indent: 0px;
    font-size: 16px;
    font-family: "Univers LT W01 45 Light";
    color: rgba(0, 0, 0, 1);
    line-height: 27px;
  }
}

.content-heroless {
  padding-top: em(60);
}

.header-secondary {
  @extend %bg-white;
  padding: em(40) 0;

  .title {
    line-height: normal;
    margin-bottom: 0;
  }
}

#map-canvas {
  min-height: em(400);
  margin: 3.75em 0 0 0;
  width: 100%;
  @extend %block;
}

.entry {
  border-top: 1px solid $medium-2;
  list-style: none;
  padding: em(10) 0;
  font-size: 16px;
  font-family: "Univers LT W01 45 Light";
  color: rgba(0, 0, 0, 1);
  line-height: 27px;
}

.entry span + span {
  min-width: 32%;
}  
.entry span {
  display: inline-block;
  min-width: 10%;
}

.calendar {
  padding-top: 0 !important;
  h1 {
    margin-top: em(30);
  }
}

@media 
(-webkit-min-device-pixel-ratio: 1.5),
(min--moz-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) { 
  header {
    .logo {
      background: url('./images/logo-retina.png') no-repeat left center transparent;
      background-size: 100% auto;
    }
  }
}