@import 'util';

body {
  background-color: #f0f0f0;
  color: #000;
}

.hamburger {
  display: none;
}

header {
  height: em(150);
  background-color: #fff;

  .logo {
    height: em(150);
    width: em(136);
    float: left;
    background: url('./images/logo-desktop.png') no-repeat left center transparent;
    background-size: 100% auto;
    @extend %relative;
  }
  span {
    color: #aaaaaa;
    display: block;
    font-size: em(11);
    position: absolute;
    top: em(100, 11px);
    left: em(3, 11px);
  }
}

footer {
  background-color: #f4f4f4;
  border-top: 1px solid #d6d6d6;
  padding: em(135) 0;
  position: relative;
  .legal {
    color: #aaaaaa;
    font-size: em(12);
    float: left;
  } 
  nav {
    margin-top: 0;
  }

  .up {
    font-size: em(10);
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: #d6d6d6;
    color: #fff;
    border-radius: 3px;
    margin-left: em(-80, 10px);
    padding: em(10, 10px) em(20, 10px);
    position: absolute;
    top: em(-154, 10px);
    left: 50%;
  }

  .p-1 {
    position: relative;
  }
}

.hero {
  @extend %relative;
  img {
    display: block;
  }
  .title {
    color: #fff;
  }
}

nav { 
  float: right;
  margin-top: em(65);
  
  li {
    float: left;
    padding: 0 em(16);
  }
  li:last-child {
    padding-right: 0;
  }

  a {
    display: block;
    font-size: em(12);
    letter-spacing: 1px;
    text-transform: capitalize;
    &:hover {
      border-bottom: 1px solid $highlight;
    }
  }
  .current-menu-item a {
    border-bottom: 1px solid $highlight;
    color: $highlight;
  }
}

.content {
  padding: em(80) 0;

  img {
    width: 80%;
    display: block;
    margin: em(50) auto em(40);
  }

  a {
    color: $highlight;
    &:hover {
      border-bottom: 1px solid $highlight;
      text-decoration: none;
    }
  }
  ul {
    margin-left: em(40);
  }
  li {
    list-style: disc;
  }
}

.has-secondary-title {
  padding-top: 0; 

  .extra-header {
    background-color: #fff;
    padding-top: em(40);
  }

}

.content .indented, 
.hero .indented {
  padding: 0 9%;
}

#map-canvas {
  min-height: em(400);
  display: block;
  margin: 3.75em 0 0 0;
  width: 100%;
}

.entry {
    border-top: 1px solid #ddd;
    list-style: none;
    padding: 10px 0;
}
.entry span + span {
  min-width: 32%;
}
  
.entry span {
  display: inline-block;
  min-width: 10%;
}

.mceIcon .mce_calendar_entry:before {
  content: '\f145';
}