@import 'util';

body {
  background-color: #f0f0f0;
  color: #000;
}

.hamburger {
  display: none;
}

header {
  height: em(80);
  background-color: #fff;

  .logo {
    height: em(80);
    width: em(125);
    float: left;
    background: url('./images/logo.png') no-repeat center center transparent;
  }
  span {
    font-size: em(14);
    margin-top: em(27, 14px);
    display: block;
    float: left;
  }
}

footer {
  background-color: #f4f4f4;
  border-top: 1px solid #d6d6d6;
  padding: em(135) 0;
  position: relative;
  .legal {
    color: #aaa9a9;
    font-size: em(14);
    float: left;
  } 
  nav {
    margin-top: 0;
  }

  .up {
    font-size: em(18);
    background-color: #d6d6d6;
    color: #fff;
    border-radius: 3px;
    margin-left: em(-62, 18px);
    padding: em(5, 18px) em(20, 18px);
    position: absolute;
    top: em(-154, 18px);
    left: 50%;
  }

  .p-1 {
    position: relative;
  }
}

.hero {
  position: relative;
  img {
    width: 100%;
    display: block;
  }

  h1 {
    font-size: 40px;
    font-family: "Din Display Pro Light Italic";
    font-weight: 200;
    font-style: italic;
    font-size: 3.75em;
    color: #fff;
    margin-bottom: em(40);
  }
}

nav { 
  float: right;
  margin-top: em(31);
  
  li {
    float: left;
    padding: 0 em(16);
  }
  li:last-child {
    padding-right: 0;
  }

  a {
    display: block;
    font-size: em(14);
    text-transform: capitalize;
    &:hover {
      border-bottom: 1px solid $highlight;
    }
  }
  .current-menu-item a {
    border-bottom: 1px solid $highlight;
    color: $highlight;
  }
}

.content {
  padding: em(100) 0;

  img {
    width: 80%;
    display: block;
    margin: em(80) auto;
  }

  a {
    border-bottom: 1px solid $highlight;
    text-decoration: none;
  }
}

.content .indented, .hero .indented {
  padding: 0 9%;
}