body {
   font-family: "chaparral-pro";
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
}

blockquote {
   font-size: 26px;
   line-height: 28px;
   font-style: normal;
   font-weight: 400;
   text-align: left;
   text-indent: 0px;
   font-family: "chaparral-pro";
   color: rgba(0, 0, 0, 1);
   margin: 0px 0px 48px 2em;
   border-width: 0px 0px 0px 5px;
   border-style: solid;
   padding: 0px 0px 0px 16px;
}

h1 {
   font-size: em(48);
   line-height: 1em;
   font-style: italic;
   font-weight: 300;
   font-family: "chaparral-pro", sans-serif;
   color: rgba(0, 0, 0, 1);
   margin: em(60, 48px) 0 em(20, 48px) 0;
}

h2 {
   font-size: em(36);
   line-height: 0.667em;
   letter-spacing: 1px;
   font-weight: 300;
   font-style: italic;
   font-family: "chaparral-pro", sans-serif;
   color: rgba(0, 0, 0, 1);
   margin: 0 0 0.667em 0;
}

p {
   text-indent: 0;
   font-size: em(22);
   font-style: normal;
   font-weight: 400;
   font-family: "chaparral-pro";
   color: rgba(0, 0, 0, 1);
   line-height: 1.455em;
   margin: 0 0 em(40, 22px) 0;
   border-width: 0;
   border-style: solid;
   padding: 0;
   border-color: rgba(211, 211, 211, 1);
}

.intro {
   text-indent: 0px;
   line-height: 1.25em;
   font-size: em(32);
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0px;
   font-family: "chaparral-pro";
   color: rgba(0, 0, 0, 1);
   margin: 0 0 em(50, 32px) 0;
   padding: 0;
}

h3 {
   font-size: 32px;
   font-family: "chaparral-pro", "Helivetica Neue", Helvetica, Arial;
   font-weight: 300;
   font-style: italic;
   line-height: 40px;
   margin: 0px 0px em(5) 0px;
}

h1.title {
   font-family: "Europa", "Helivetica Neue", Helvetica, Arial;
   font-weight: 200;
   font-style: italic;
   font-size: 3.75em;
   margin: 0px 0px 96px 0px;
   line-height: 1em;
}

p.list {
   margin: 0px 0px 48px 2em;
   font-size: 1.375em;
   line-height: 1.455em;
   border-style: none;
}

p.list2 {
   border-width: 1px 0px;
   font-size: 1.75em;
   line-height: 1.455em;
}

.content ul {
   margin: 0px 0px 48px 2em;
   font-size: 1.375em;
   line-height: 1.455em;
}

.content li {
   list-style: initial;
}