@import "util";

.button {
  margin: 0 auto;
  width: em(200);
  a { 
    font-family: "Univers LT W01 55 Roman";
  }
  a:hover {
    background-color: $highlight;
    color: #fff;
  }
}

.about {
  ul {
    border-top: 1px solid $medium-1;
    padding: em(20) 0 em(40) 0;
    margin: 0;
    li {
      margin-bottom: em(16);
      width: 100%;
      list-style: none;
      @extend %clearfix;
    }
    li div:first-child {
      float: left;
      width: 18%;
    }
    li div:last-child {
      float: left;
       width: 82%;
    }
  }
}

.hero {
  height: em(600);
  overflow: hidden;
  padding: 0 em(10);
  position: relative;

  .p-grid-row, .p-1 {
    height: 100%;
    @extend %relative;
  }

  &.home {
    height: em(800);
    background: url('./images/hero.jpg') no-repeat center center;
  }

  &.about {
    background: url('./images/about_a.jpg') no-repeat center center;
    .title {
      color: #000;
      width: 20%;
      position: absolute;
      top: 65%;
      margin-top: -30px;
    }
  }

  &.commission {
    background: url('./images/commission_a.jpg') no-repeat center center;
    .title {
      position: absolute;
      top: 50%;
      margin-top: -30px;
    }
  }

  &.hero-classes {
    background: url('./images/classes_a.jpg') no-repeat center center;
    
    .title {
      color: #fff;
      position: absolute;
      top: 70%;
      margin-top: -30px;
    }

    .button {
      position: absolute;
      width: em(260);
      right: 0;
      top: 67%;
      margin-right: 9%;
    }
  }

  .hero-text {
    width: 55%;
    margin: 0 auto;
    margin-bottom: em(100);
    margin-top: em(220);
    text-align: center;
    .title {
      color: #fff;
      text-transform: none;
      font-weight: normal;
    }
  }

  .jos {
    background-color: #fff;
    border-radius: 3px;
    display: block;
    padding: em(20) 0;
    text-align: center;
    font-weight: bold;
  }
}


a.more {
  background-color: #fff;
  padding: em(20) em(120);
  color: #000;
  border-radius: 3px;
  border-bottom: none !important;
  display: block;
  margin: 0 auto;
  width: em(500);
  &:hover {
    background-color: $highlight;
    color: #fff;
  }
}

.gallery {
  img {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  &.content {
    padding-top: 0;
  }
  h3 {
    margin-top: em(40);
  }
  .p-grid-row {
    margin-bottom: 0;
  }
  .caption {
    margin-top: em(5);
    margin-bottom: em(20);
  }
}

.gallery-detail {
  padding-top: em(20);
  p, a {
    text-align: center;
    display: block;
    border-bottom: none;
  }

  img {
    width: 100%;
    margin: em(20) auto;
  }

  .more {
    margin: em(120) auto;
  }

  img:last-child {
    margin-bottom: em(80);
  }
}

.calendar {
  ul {
    border-bottom: 1px solid $medium-2;
    margin-left: 0;
    margin-bottom: em(80);
    li {
      border-top: 1px solid $medium-2;
      list-style: none;
      padding: em(10) 0;
      span + span {
        min-width: 32%;
      }
    }
  }
  span {
    display: inline-block;
    min-width: 10%;
  }
}

.contact {
  h1 {
    color: #000;
    margin-bottom: em(20);
    margin-top: 0;
  } 
  .p-1-2 {
    float: left;
  }

  a {
    color: $highlight;
    border-bottom: none;
  }
  img {
    display: block;
    margin: em(60) 0 0 0;
    width: 100%;
  }
}

.address { 
  p {
    margin: 0;
    padding: 0;
  }
}

.map-link {
  display: none;
}

.feature {
  margin: em(100) 0 em(50) 0; 
  img {
    margin: em(10) auto;
    padding: 0;
  }
}
