@import "util";

html, body, div, img, ol, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  @include box-sizing(border-box);
}

html {
  font-size: 100%;
}

body {
  line-height: 1.618em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
  line-height: 1.3;
  &:hover {
    color: $highlight;
    text-decoration: none;
  }
}

img {
  height: auto;
}

.typekit-badge {
  display: none !important;
}

h1 {
  font-weight: normal;
}